---
layout:     standard
title:      Gallery | The Frosted House
page_title: Gallery
images:
  - married-1x1.jpg
  - wine-1x1.jpg
  - purple-close-1x1.jpg

  - ruffle-2x3.jpg
  - water-2x3.jpg
  - purple-2x3.jpg
  - fish-2x3.jpg
  - fish-close-2x3.jpg

  - cupcakes-3x2.jpg

---

.row
  .columns.large-4
  .columns.large-8
    %h1.title.page-title= current_page.data.page_title

.content
  .row
    .columns.large-6
      %ul.small-block-grid-3
        - current_page.data.images.each do |img|
          %li= image_tag "gallery/#{img}", class: 'thumbnail'
    .columns.large-6
      - image_first = "gallery/#{current_page.data.images.first}"
      = image_tag image_first, id: 'preview'
      %p.caption.text-center Select a picture on the left to preview.
