---
layout: standard
title:  The Frosted House
---

.row
  .columns.small-4
  .columns.small-8
    %h1.text-left.chalk-hand.hide-for-small Welcome Home
    %h1.text-center.chalk-hand.show-for-small  Welcome Home

.row
  .columns.small-12
    .featured-images.hide-for-small
      %div= image_tag 'slider/caro1.jpg'
      %div= image_tag 'slider/caro2.jpg'
      %div= image_tag 'slider/caro3.jpg'

.row
  .columns.small-12.large-4
    .info-box.info-box-circle
      = content_tag(:h2, "#{content_tag(:span, 'The', class: 'electrolize')} #{content_tag(:span, 'Artist', class: 'chalk-hand')}", class: 'text-center')
  .columns.small-12.large-4
    .info-box
  .columns.small-12.large-4
    .info-box.info-box-circle
      %h2.text-center.chalk-hand Reviews
